.management-container{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: .5rem 1rem 0 1rem;
    box-sizing: border-box;
}
.table-container{
    padding: .0rem;
    height: 16rem;
    overflow: auto;
    width: 100%;
    border-radius: 2rem;
    background-color: rgba(68, 86, 108, 1);
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.table-container table{
    border-collapse: separate;
    -webkit-border-horizontal-spacing:0 ;
    -webkit-border-vertical-spacing:5px ;
    border-spacing: 0 1rem ;
    margin-left: 5rem;
    height: 10rem;
    min-width: 50rem ;
    overflow: auto;
    
}

.table-container table th{
    color: rgb(218, 218, 218);
    text-align: start;
    padding: .5rem 1rem 0.5rem 0.25rem;
    font-weight: 500;

}
.table-container table tbody tr{
    background-color: aliceblue;
}
.table-container table td {
    padding: .5rem 1rem 0.5rem 0.25rem;
    margin-bottom: 1rem;
    min-width: 5rem;
} 
/* .table-container table tbody img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #3c1818;
}*/
.management-container{
    .add-btn{
        border: none;
        background:rgb(255, 153, 70);
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: .5rem;
        border-radius: 4rem;
    }
}
.users-form{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
    
}
.column{
        width: 20rem;
}
.users-form__input{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    gap: .5rem;
    label{
        font-weight: 500;
    }
    input{
        padding: .5rem;

    }
    
}
.form-submit{
    background-color: rgb(255, 153, 70);
    color: aliceblue;
    padding: .5rem;
    width: 8rem;
    border-radius: 4rem;
    border: 1px solid rgb(254, 255, 208);
    margin-bottom: 1rem;
}
.no-entries{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5rem;
}
.form-submit:hover{
    border: 1px solid rgb(255, 169, 126);
    box-sizing: border-box;
    scale: 1.1;
}
/* CSS FOR Group Input */
.auth{
    display: flex;
    width: 50rem;
    gap:.5rem
}
.auth-option{
    height: 1.5rem;
    gap: .25rem;
    display: flex;
    align-items: center;
}
.options{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    padding: 0 1rem 0 .25rem !important;
}
.option-btn{
    background: none;
    text-decoration: underline;
    font-size: 14px;
    border: none;
}
.option-btn:hover{
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(152, 149, 149);
    transition: 200ms;
}



