.room-wrapper{
height: 100vh;
width: 100%;
padding: 1rem;
overflow: auto;
    button{
    border: none;
    padding: 10px;
    border-radius: 5rem;
    background-color: rgb(255, 217, 159);
    color: white;
}
}
.building{
    width: 100%;
    background-color: rgba(68, 86, 108, 1);
    margin: 10px 0 10px 0;
    padding: .5rem .5rem 1rem 1rem;
    border-radius: 1rem;
}
.building__name button{
    background: none;
    border: none;
    width: 100%;
    color: gray;
    h5{
        color: black;
    }
}
.building__rooms{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.room{
    height: 3rem;
    width: 7rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.room-types{
    width: 100%;
    background-color: rgba(68, 86, 108, 1);
    margin: 10px 0 10px 0;
    padding: .5rem .5rem 1rem 1rem;

    border-radius: 1rem;
}
.types-title{
    color: black;
}
.types-group{
    color: white;
    margin: 1rem;
    h6{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        width: 20rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}
.input-group-room{

    input,select{
        width: 20rem;
        height: 3rem;
        border-radius: 5px 5px 0 0 ;
        padding: .5rem;
    }
    input[type="radio"]{
        width: 1rem;
    }
}
.new-room-form{
    border: 2px solid rgb(255,196, 107);
}
#room-modal{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    button{
        width: 8rem;
        height: 4rem;
        border-radius: 4rem;
        border:none;
        background-color: rgb(255, 196, 107);
        color: white;
    }
    button:hover{
color: rgb(203, 209, 214);
    }
}